/*credit card detail form css*/
.pass-ticket {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
}

.class-java {
    margin: 50px;
    max-height: 200px;
    width: 200px;
}

.span-element {
    display: block;
    width: 100%;
    text-align: center;
    font-weight:lighter;
    font-size: 1.4em;
    color:orange;
    margin-bottom: 25px;
}

.img-ticket {
    width: 75px;
    height: auto;
    border-radius: 100px;
}

.class-java-details {
    display: flex;
    align-items: center;
    padding: 15px;
}



.order-create {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.head {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.item-four {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.order-two {
    display: flex;
}

.item-one {
    width: 45%;
}

.item-two {
    width: 20%;
    font-size: 1em;
    color: #333;
}

.item-three {
    width: 35%;
}

.item-one-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.0em;
}

.item-one-image {
    width: 30px;
    height: auto;
    border-radius: 10px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .70em .70em;
    cursor: pointer;
    border-radius:20px;
    color: #fff;
    cursor:pointer;
    margin-top: 18px;
    padding:10px;
    background-color:red;
    font-size: 12px;
    border:none;
    
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color:aqua;
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #252935;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    
}

.btn-primary:hover {
    background-color: rgb(22, 23, 29);
}
