/**{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}*/

html{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color:white;
    align-content: center;
}


/*designing the hr line for home page*/
.mainimagehr {
  width: 60%;
  border: 10px dotted;
  border-style: none none dotted;
  color:rgb(10, 8, 8);
}


/*The logo*/
.logo{
  width: 10%;
  height: 100%;
  display: flex;

}

/*nav bar*/
.mynavbar a {
	text-decoration: none;
	padding: 12px;
	position: relative;
  height: 40px;
  width: 143px;
  text-decoration: none;
  color:black;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}

.mynavbar {
  float: right;
  position: absolute;
  top: 50px;
  right: 50px;
  list-style: none;
  margin-right: 10px; 
  border-radius: 4%;
}

.mynavbar a:hover{
  background-color: #fff;
  color: black;
}


@media (max-width:450px){
.mynavbar{
    display: block;
  }
}



/*designing the header of each page*/
.headerhomepage{
  background-image: url(../Images/Fishermen.jpg);
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;  
}

.headerwild{
  background-image: url(../Images/wildlife\ main.jpg);
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.headeractivities{
  background-image: url(../Images/activitiesmain.webp);
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.headerbeach{
  background-image: url(../Images/beachmain.jpg);
  min-height: 80vh;
  width: 100%;
  background-size:cover;
  background-position: center;
}

.headerheritagepage1{
  background-image: url(../Images/Anuradhapura.webp);
  min-height: 80vh;
  width: 100%;
  background-size:cover;
  background-position: center;
}

.headerheritagepage2{
  background-image: url(../Images/hortainmain1.jpeg);
  min-height: 80vh;
  width: 100%;
  background-size:cover;
  background-position: center;
}

.headerpurchasedonatepage{
  background-image: url(../Images/purchaseanddonateim.webp);
  min-height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: center;  
}

/*contentmainimage*/
.mainheading{
  font-family:'Brush Script MT';
  width: 100%;
  color: white;
  position: absolute;
  top: 30%;
  font-size: 200%;
  text-align: center;
}

.mainheadingactivities{
  font-family:'Brush Script MT';
  width: 100%;
  color:orangered;
  position: absolute;
  top: 30%;
  font-size: 150%;
  text-align: center;
}

.mainheadingbeaches{
  font-family:'Brush Script MT';
  width: 100%;
  color:rgb(116, 62, 62);
  position: absolute;
  top: 30%;
  font-size: 200%;
  text-align: center;
}

.mainheadingwildlife{
  font-family:'Brush Script MT';
  width: 100%;
  color:brown;
  position: absolute;
  top: 30%;
  font-size: 200%;
  text-align: center;
}

/*Activites page styling */
.activitysection1{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.activitysection1 div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.hikingpara{
  align-self: center;
}

.hick{
  padding-bottom: 10px;
  border-radius: 10px;
}
.climbingpara{
  align-self: center;
}

/*Beach page styling*/
/*.maintopicbeach{
  
}*/


.section1beach{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1beach div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1beachpara{
 
  align-self: center;
}


.section1beachimg1{
  padding-bottom: 50px;
  width: 50%;
}


/*heritage site 1 page styling*/

.section1heritage1{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1heritage1 div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1heritage1para{
  align-self: center;
}


.section1heritage1img1{
  padding-bottom: 50px;
  width: 50%;
}












/*hertigae site 2  page styling*/


.section1heritage2{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1heritage2 div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1heritage2para{
  align-self: center;
}


.section1heritage2img1{
  padding-bottom: 50px;
  width: 50%;
}














/*homepage AKA index page styling*/


.section1home{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1home div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1home{
  align-self: center;
}


.section1homeimg1{
  height: 10%;
  padding-bottom: 50px;
  width: 50%;
}












/*Purchase and donate page styling*/

.section1purchase{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1purchase div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1purchasepara{
  align-self: center;
}


.section1purchaseimg1{
  padding-bottom: 50px;
  width: 50%;
}

.donatedisclaimer{
  border: 2px dotted black;
  background-color: yellow;
}












/*Type of wildlife page styling*/

.section1wildlife{
  background-color: wheat;
  display: flex;
  flex-direction: row;
  border: 5px outset gold;       /*lightcoral*/
  margin: 50px;
}

.section1wildlife div{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.section1wildlifepara{
  align-self: center;
}


.section1wildlifeimg1{
  padding-bottom: 50px;
  width: 50%;
}







/*The footer design*/
.footermain{
  display: flex;
}

.footer1{
  list-style: none;
}

.footer2{
  list-style: none;
}
.footer3{
  list-style: none;
}
  
.footer4{
  list-style: none;
}


@media (max-width: 1300px){
  .activitysection1{
    flex-direction: column;
  }
}


/*creating buttons for links*/
.dtn{

  font-size: 1rem;
  text-decoration: none;

  font-weight: 400;

  background-color: #303054;

  color: #fff;

  padding: 10px 20px;

  border-radius: 5px;

 

  transition: all 0.5s;

}

.dtn:hover{

  background-color: #e6edff;

  color: #303054;

}

























